P.Select__box__title Cuenta       
form.formSelect(action="#" id="formArchivo" enctype="multipart/form-data")
    .Select__box
        label(for="idComponente") Log Out
        input(type="button", value="Log out").Select__box__item#logOut
        //- select#Componente.Select__box__item(name="componente")
div.cajaEstadado
link(rel="stylesheet", href="static/css/subirDirectorio.css")




