.PersonalMisDatos{

    &_contenedor{
        margin: 0 auto;
        width: 90%;
        min-height: 30px;
        // padding: ;
        padding-bottom: 5px;
        // background-color: red;
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30px 1fr;
        row-gap: 10px;
        // border-radius: 10px;
    }

    &_title{
        margin: 0;
        padding: 0;
        // padding-bottom: 10px;
        font-size: 30px;
        // background-color: burlywood;
    }

    &_contenido{
        margin: 0 auto;
        // margin-top: 8px;
        background-color: rgb(4, 201, 119);
        height: 100%;
        width: 100%;
        border-radius: 6px;
        padding-bottom: 10px;

    }
/* ROW__ROW__ROW__ROW__ROW__ROW__ROW__ROW__ROW__ROW__ROW__ROW__ROW__*/
    &_row{
        // height: 100px;
        width: 100%;
        // background-color: rgb(85, 76, 76);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-bottom: 10px;
    }

    &_rowTitle{
        margin:5px 0px 0 10px;
        padding: 5px 0 0 0;
    }

    &_rowText{
        margin:  0 0 0 10px;
        padding: 0 0 0 0px;
        width: 80%;
        border: none;
        border-radius: 5px;
        box-shadow: 3px 4px 4px 0px;
        height: 30px;
        background-color: white;
        
        // display: flex;
        // justify-content: left;
        // align-items: center;
        line-height: 2;
    }

    &_rowChange{
        height: 20px;
        width: 20px;
        background-color: red;
        // float: right;
        margin: 0;
        padding: 0;
        margin-right: 5px;
    }

    &_rowSeparete{
        width: 90%;
        margin: 0 auto;
        height: 2px;
        border-radius: 10px;
        background-color: rgb(7, 7, 7);
    }
    /* DIRECCION__DIRECCION__DIRECCION__DIRECCION__DIRECCION__DIRECCION__DIRECCION__ */

    &_direccionHeader{
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }

    &_direccionTitle{
        padding: 0;
        margin: 0;
    }
    &_direccionSettings{
        width: 30px;
        height: 30px;
        background-color: black;
    }

    &_direccionInfo{
        // background-color: blueviolet;
        // padding-bottom: 5px;
        // height: 100px;
        &Parrafo{
            padding: 0;
            padding-top: 5px;
            padding-left: 10px;
            margin: 0;
            font-size: 15px;
        }
    }

    /* TARJETA__TARJETA__TARJETA__TARJETA__TARJETA__TARJETA__TARJETA__TARJETA__TARJETA__*/

    &_tarjeta{
        margin: 0;
        padding: 10px;
        padding-bottom: 0;
    }

}