.descubrirCategoria{
    background-color: white;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 48% 48%;
    grid-template-columns: 49% 49%;
    row-gap: 4%;
    column-gap: 2%;
    overflow: hidden;
    
}

@media screen and (max-width: 320px) { .descubrirCategoria { background-color: rgba(190, 76, 166, 0.9);      grid-template-columns: 49% 49%; column-gap: 2%;}}
@media screen and (min-width: 321px) { .descubrirCategoria { background-color: rgba(144, 170, 177, 0.9);     grid-template-columns: 32% 32% 32%; column-gap: 2%;}}
@media screen and (min-width: 380px) { .descubrirCategoria { background-color: rgba(150, 177, 31, 0.9);      grid-template-columns: 24% 24% 24% 24%; column-gap: 1.33%;}}

.descubrirCategoriaIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: red;
    background-color: black;

    margin: 0;
}

.descubrirCategoriaMas{
    width: 100%;
    height: 1.5em;
    margin-top: 5px;
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}



