.headerPageMenuTitle-logo{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 7vw; display: flex; align-items: center; justify-content: center; background-repeat: no-repeat; text-decoration: none;
}

.headerPageMenuTitle-title{
    grid-column: 2/3;
    grid-row: 1/2;
    line-height: 0;
    text-align: center;
    font-size:large;
    text-decoration :dotted ;
    /* background-color: blue; */
}



.headerPageMenuTitle-bottonMenu{
    grid-column: 3/4;
    grid-row: 1/2;
    /* background-color: blue; */
}
