extends ../../templates/template
block head 
    link(rel="stylesheet" href="static/css/styles.css")
    link(rel="stylesheet" href="static/css/form1.css")
    title Cambiar contra

block main
    section.bodySelect 
                P.Select__box__title Recuperar       
                form#form_recuperarPassword.formSelect(action="#")
                    .Select__box
                        label(for="idUso") Nueva Contraseña 
                        input#form_NewContra(type="text" value="contra123")                    
                    .Select__box
                        label(for="idUso") Repeat Contraseña 
                        input#form_verifyContra(type="text" value="contra123")                    
                    .Select__boxSubmit
                        input(type="submit" value = "Recuperar")
block script 
    script(src="static/js/recoveryPassword.js")
                
