.main-menu__float#main-menu__float
    i.fab.fa-google
ul#main-menu.main-menu
            each Pagina in personalDirectorios 
                li.main-menuLi
                    label.main-menu__label(name = Pagina id= Pagina)=Pagina 
